.post-card-grid {
  transition-duration: 0.5s;
  position: relative;

  &:hover {
    transform: scale(1.02);
  }

  .invisible-link {
    position: absolute;
    inset: 0;
  }

  .sub-link {
    z-index: 2;
  }
}
