.header {
  padding: 2rem 0;

  .actions {
    form {
      input {
        background-color: $secondary-100;
        padding: 0.5rem 1rem;
        border-radius: 5px;
        border: none;
        font-family: $base-font-family;
      }
    }

    .theme-toggler {
      width: 2.5rem;
      height: 1.2rem;
    }
  }
}
