/***** Typrography *****/
$base-font-family: 'WorkSans', sans-serif;
$base-font-family-2: 'PlusJakartaSans', sans-serif;

$base-font-size: 1.5rem;
/***** End Typrography *****/

/***** Colors *****/
$secondary-100: #f4f4f5;
$secondary-400: #a1a1aa;
$secondary-600: #3b3c4a;
/***** End Colors *****/
